{% extends 'base.html' %}

{% block content %}
<div class="article-box">
  <h2>{{ top_menu.title }}</h2>
  
  <div class="sidebar-nav">
    <h2>{{ top_menu.title }}</h2>
    <ul>
    {% if top_menu.has_sub() %}
      {% for one in top_menu.subMenus %}
        {{ tools.get_menu_link(one) }}
      {% endfor %}
    {% else %}
        {{ tools.get_menu_link(top_menu) }}
    {% endif %}
    </ul>
  </div>

  <div class="article">
    <div class="title">{{ article.title }}</div>
    <div class="info">
      {% if article.author.name %}作者: {{ article.author.name }} |{% endif %}
      {% if article.created %}发布日期: {{ article.created | date('Y-m-d') }} | {% endif %}
      浏览数: {{ article.view_count }}<br />
      {% if loggedUser.hasPermission('/admin/content/' ~ article.id ~ '/edit', 'GET') %}
       <a href="{{ siteUrl('/admin/content/' ~ article.id ~ '/edit') }}">[编辑]</a>
      {% endif %}
    </div>
    <div class="content">
     <p style="text-indent:24.0pt;">
      {{ article.content | raw }}
    </p>
    </div>
  </div>

</div>
{% endblock %}