{%- import 'tools.twig' as tools -%}
<!DOCTYPE html>
<html>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<head>
<title>{% if webTitle %}{{ webTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" id="font-awesome-css" href="{{ siteUrl('static/styles/base-layout/font-awesome.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" id="basis-style-css" href="{{ siteUrl('static/styles/base-layout/style.css') }}" type="text/css" media="all" />
<script type="text/javascript" src="{{ siteUrl('static/components/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ siteUrl('static/scripts/plugins/jquery.KinSlideshow-1.2.1.min.js') }}"></script>
</head>

<body class="{% if home %}home {%endif %}page page-id-17 page-template-default">
<!--[if lte IE 9]> <div class="ie9-"> <![endif]-->
<!--[if IE 9]> <div class="ie9"> <![endif]-->
<!--[if lte IE 8]> <div class="ie8-"> <![endif]-->
<!--[if IE 8]> <div class="ie8"> <![endif]-->
<!--[if lte IE 7]> <div class="ie7-"> <![endif]-->
<!--[if IE 7]> <div class="ie7"> <![endif]-->
<div class="body-overlay">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
    
    <div class="logo">
      <a href="{{ siteUrl('/') }}">深圳大学 高等研究院</a>
    </div>

    <nav class="nav-main" role="navigation">
      <ul>
        {% for m in global_top_menus %}
        <li class="nav-main-item{% if m.sub_menus | length > 0 %} parent{% endif %}">
          {% if m.type == 3 %}
          {% set url = m.outside_url %}
          {% elseif m.type in [0,2] %}
          {% set url = siteUrl('menu/' ~ m.id ~ '/list') %}
          {% elseif m.type == 1 %}
          {% set url = siteUrl('menu/' ~ m.id ~ '/show') %}
          {% endif %}
          <a href="{{ url }}" {% if m.open_style == 1 %}target="_blank"{% endif %}>{{ m.title }}</a>
          {% if m.sub_menus | length > 0 %}
          <ul>
            {% for sub in m.sub_menus %}
              {% if sub.type == 3 %}
              {% set sub_url = sub.outside_url %}
              {% elseif sub.type in [0,2] %}
              {% set sub_url = siteUrl('menu/') ~ sub.id ~ '/list' %}
              {% elseif sub.type == 1 %}
              {% set sub_url = siteUrl('menu/') ~ sub.id ~ '/show' %}
              {% endif %}
            <li class="page_item"><a href="{{ sub_url }}" {% if sub.open_style == 1 %}target="_blank"{% endif %}> {{ sub.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav><!-- #site-navigation -->
  </header><!-- #masthead -->

  <div id="content" class="site-content">
  {% block content %}
  {% endblock %}
  </div> <!-- #content -->
</div> <!-- .site -->

<div class="container-site-footer">
  <footer class="site-footer">

    <div class="nav-footer">  
      <ul>
        <li><a href="{{ siteUrl('article/494') }}">学院介绍</a></li>
        <li><a href="{{ siteUrl('article/495') }}">组织机构</a></li>
        <li><a href="{{ siteUrl('article/501') }}">联系我们</a></li>
      </ul>
    </div>

    <div class="link">
      友情链接：<br />
      <a href="http://www.szu.edu.cn/">深圳大学</a>
      <a href="http://job.szu.edu.cn/">深圳大学就业指导中心</a>
      <a href="http://csse.szu.edu.cn/">深圳大学计算机与软件学院</a>
    </div>
    
    <div class="copyright">
      版权所有 &copy; 深圳大学高等研究院<br />
      地址：深圳市南山区南海大道 3688 号办公楼 313 深圳大学高等研究院院长办公室<br />
      联系电话：0755-26001352 <span style="margin-left: 30px">邮编：518060</span>
    </div>
    
  </footer> <!-- .site-footer -->
</div> <!-- .container-site-footer -->

</div> <!-- .body-overlay -->

<script type="text/javascript">
$("#slider").KinSlideshow({
    titleBar: {
      titleBar_height: 28,
      titleBar_bgColor: "#000",
      titleBar_alpha: 0.5
    },
    titleFont: {
      TitleFont_size: 14,
      TitleFont_color: "#FFFFFF",
      TitleFont_weight: "normal"
    },
    btn: {
      btn_bgColor: "#FFFFFF",
      btn_bgHoverColor: "#1072aa",
      btn_fontColor: "#000000",
      btn_fontHoverColor: "#FFFFFF",
      btn_borderColor: "#cccccc",
      btn_borderHoverColor: "#1188c0",
      btn_borderWidth: 1
    }
});

</script>
<!--[if lte IE 9]> </div> <![endif]-->
<!--[if IE 9]> </div> <![endif]-->
<!--[if lte IE 8]> </div> <![endif]-->
<!--[if IE 8]> </div> <![endif]-->
<!--[if lte IE 7]> </div> <![endif]-->
<!--[if IE 7]> </div> <![endif]-->
</body>
</html>