{%- import 'tools.twig' as tools -%}
<!DOCTYPE html>
<html>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<head>
<title>{% if webTitle %}{{ webTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" id="font-awesome-css" href="{{ siteUrl('static/styles/base-layout/font-awesome.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" id="basis-style-css" href="{{ siteUrl('static/styles/base-layout/style.css') }}" type="text/css" media="all" />
<script type="text/javascript" src="{{ siteUrl('static/components/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ siteUrl('static/scripts/plugins/jquery.KinSlideshow-1.2.1.min.js') }}"></script>
<!--[if IE]> 
<link rel="stylesheet" href="{{ siteUrl('static/styles/base-layout/fix-ie.css') }}" type="text/css" media="all" />
<![endif]-->
<script>
function translation(code, next) {
  base_url = '{{ siteUrl("/lang") }}';
  if (typeof next == 'undefined')
    next = '/';
  location.href = base_url + '?lang=' + code + '&next=' + next;
}
</script>
</head>

<body class="{% if home %}home {%endif %}page page-id-17 page-template-default">
<!--[if IE]> <div class="ie"> <![endif]-->
<div class="body-overlay">
<div id="page" class="hfeed site">
  <div id="masthead" class="site-header" role="banner">
 
    <span style="float: right; font-size: 14px; margin-right:20px;line-height:30px;margin-top:20px;text-align:right;">
      <form action="{{ siteUrl('/search') }}" method="post"/>
        {% if lang == 'en' %}<a href="javascript:void()" onclick="translation('zh', location.pathname);">中文</a>{% else %}<a href="javascript:void()" onclick="translation('en', location.pathname);">English</a>{% endif %}<br />
        <input type="text" value="" name="keyword" placeholder="{{ trans('Search') }}" />
      </form>
    </span>

    <div class="logo">
      <a href="{{ siteUrl('/') }}">{{ trans('Institute for Advanced Study in Shenzhen Univeristy') }}</a>
    </div>  

    <nav class="nav-main lang-{{ lang }}" role="navigation">
      <ul>
        {% for m in global_top_menus %}
        <li class="nav-main-item{% if m.subMenus | length > 0 %} parent{% endif %}">
          {{ tools.render_menu(m) }}
          {% if m.subMenus | length > 0 %}
          <ul class="second_ul">
            {% for sub in m.subMenus %}
            <li class="page_item{% if sub.type == 0 %} list-items{% endif %}">
              {{ tools.render_menu(sub) }}
              {% if sub.subMenus | length > 0 %}
              <ul class="third_ul">
               {% for third_sub in sub.subMenus %}
                <li class="third_subitem">
                  {{ tools.render_menu(third_sub) }}
                </li>
               {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav><!-- #site-navigation -->
  </div><!-- #masthead -->

  <div id="content" class="site-content">
  {% block content %}
  {% endblock %}
  </div> <!-- #content -->
</div> <!-- .site -->

<div class="container-site-footer">
  <div class="site-footer">

    <div class="nav-footer">  
      <ul>
        <li><a href="{{ siteUrl('article/494') }}">{{ trans('About us') }}</a></li>
        <li><a href="{{ siteUrl('article/501') }}">{{ trans('Contact us') }}</a></li>
        {% if loggedUser.hasPermission('/admin', 'GET') %}
        <li><a href="{{ siteUrl('admin') }}">{{ trans('Admin Login') }}</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="link">
      <div>
        <h3>{{ trans('Useful links') }}：</h3><br />
        <p>
          <a href="http://www.szu.edu.cn/">{{ trans('Shenzhen University') }}</a>
          <br />
          <a href="http://job.szu.edu.cn/">{{ trans('SZU Career Development Center') }}</a>
        </p>
      </div>

    </div>
    
    <div class="copyright">
    <p>
      {{ trans('CopyRight') }} &copy; {{ trans('Institute for Advanced Study, Shenzhen University.') }}
    </p>
    <p>
      {{ trans('Address') }}：{{ trans('Institute for Advanced Study, Shenzhen University, Nanshan District Shenzhen, Guangdong, China 518060') }}
    </p>
    <p>
      {{ trans('Tel') }}：0755-26001352
    </p>
    </div>
    
  </div> <!-- .site-footer -->
</div> <!-- .container-site-footer -->

</div> <!-- .body-overlay -->

<script type="text/javascript">

$(function () {
  var mouseover_tid = [];
  var mouseout_tid = [];
  $(".third_ul").hide();
  $('.second_ul > .list-items').each(function(index){
    $(this).hover(function() {
      var element = $(this).find('ul.third_ul');
      clearTimeout(mouseout_tid[index]);
      mouseover_tid[index] = setTimeout(function() {
        element.fadeIn(200);
      }, 10);
    },
    function () {
      clearTimeout(mouseover_tid[index]);
      var element = $(this).find('ul.third_ul');
      mouseout_tid[index] = setTimeout(function() {
        element.fadeOut(200);
      }, 200);
    });
  });
});

</script>
<!--[if IE]> </div> <![endif]-->
</body>
</html>
<!-- execute time: {{ exec_time(2) }} (ms) -->
