{% extends 'base.html' %}

  {% block content %}
  <div class="banner">
  <div class="slide">
    <div id="slider">
      {% for s in slider %}
      <a href="{{ siteUrl('article/' ~  s.article.id )}}"><img src="{{ siteUrl('uploads/' ~ s.address) }}" alt="{{ s.article.title }}" title="{{ s.article.title }}"/></a>
      {% endfor %}
    </div>
  </div>
  <div class="news">
    <div class="title">
    <a href="{{ siteUrl('menu/6/list') }}">{{ trans('News') }} <span style="float: right; font-size: 12px; margin-right: 10px;">{{ trans('More') }}</span></a>
    </div>
   <div class="articles">
    <ul>
      {% for n in news %}
      <li><span class="ellipsis width350"><a href="{{ siteUrl('article/' ~ n.id) }}">{{ n.title }}</a> {% if n.is_top %}<img src="{{ siteUrl('static/images/admin/icon_up.gif') }}" alt="置顶" title="置顶"> {% endif %}</span> <span class="datetime">{{ n.created | date('Y-m-d') }}</span></li>
      {% endfor %}
    </ul>
   </div>
  </div>
  </div>

  <div class="index-articles">
    
    <div class="first-child">
      <h4><a href="{{ siteUrl('menu/10/list') }}">{{ trans('Undergraduate Study') }}</a></h4>
      <div>
        <ul>
          {% for a in undergraduate %}
          <li><span class="ellipsis width200"> ● <a href="{{ siteUrl('article/' ~ a.id) }}">{{ a.title }}</a></span> <span class="datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <a href="{{ siteUrl('menu/10/list') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a>
    </div>

    <div>
      <h4><a href="{{ siteUrl('menu/11/list') }}">{{ trans('Postgraduate Study') }}</a></h4>
      <div>
        <ul>
          {% for a in graduate %}
          <li><span class="ellipsis width200"> ● <a href="{{ siteUrl('article/' ~ a.id) }}">{{ a.title }}</a></span> <span class="datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <a href="{{ siteUrl('menu/11/list') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a>
    </div>
    <div class="last-child">
      <h4><a href="{{ siteUrl('menu/12/list') }}">{{ trans('Research') }}</a></h4>
      <div>
        <ul>
          {% for a in research %}
          <li><span class="ellipsis width200"> ● <a href="{{ siteUrl('article/' ~ a.id ) }}">{{ a.title }}</a></span> <span class="datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <a href="{{ siteUrl('menu/11/list') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a>
    </div>
  </div>
  
<script>
$("#slider").KinSlideshow({
  titleBar: {
    titleBar_height: 28,
    titleBar_bgColor: "#000",
    titleBar_alpha: 0.5
  },
  titleFont: {
    TitleFont_size: 14,
    TitleFont_color: "#FFFFFF",
    TitleFont_weight: "normal"
  },
  btn: {
    btn_bgColor: "#FFFFFF",
    btn_bgHoverColor: "#1072aa",
    btn_fontColor: "#000000",
    btn_fontHoverColor: "#FFFFFF",
    btn_borderColor: "#cccccc",
    btn_borderHoverColor: "#1188c0",
    btn_borderWidth: 1
  }
});
</script>
  {% endblock %}