<!DOCTYPE html>
<html>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<head>
<title>{% if webTitle %}{{ webTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" id="font-awesome-css" href="{{ siteUrl('static/styles/base-layout/font-awesome.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" id="basis-style-css" href="{{ siteUrl('static/styles/base-layout/style.css') }}" type="text/css" media="all" />
<script type="text/javascript" src="{{ siteUrl('static/components/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ siteUrl('static/scripts/base/jquery.KinSlideshow-1.2.1.min.js') }}"></script>
</head>

<body class="home page page-id-17 page-template-default">
<!--[if lte IE 9]> <div class="ie9-"> <![endif]-->
<!--[if IE 9]> <div class="ie9"> <![endif]-->
<!--[if lte IE 8]> <div class="ie8-"> <![endif]-->
<!--[if IE 8]> <div class="ie8"> <![endif]-->
<!--[if lte IE 7]> <div class="ie7-"> <![endif]-->
<!--[if IE 7]> <div class="ie7"> <![endif]-->
<div class="body-overlay">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
    
    <div class="logo">
      <a href="{{ siteUrl('/') }}">深圳大学 高等研究院</a>
    </div>

    <nav class="nav-main" role="navigation">
      <ul>
        <li class="nav-main-item">
          <a href="{{ siteUrl('/') }}">首页</a>
        </li>
        <li class="parent nav-main-item">
          <a href="javascript:void();">学院介绍</a>
          <ul>
            <li class="page_item"><a href="{{ siteUrl('institute/introduction') }}">学院简介</a></li>
            <li class="page_item"><a href="{{ siteUrl('institute/organization') }}">组织机构</a></li>
            <li class="page_item"><a href="{{ siteUrl('institute/leader') }}">领导介绍</a></li>
          </ul>
        </li>
        <li class="parent nav-main-item">
          <a href="javascript:void();">新闻动态</a>
          <ul>
            <li class="page_item"><a href="{{ siteUrl('announce') }}">学院公告</a></li>
            <li class="page_item"><a href="{{ siteUrl('student') }}">学生工作</a></li>
            <li class="page_item"><a href="{{ siteUrl('academic') }}">学术科研</a></li>
          </ul>
        </li>
        <li class="nav-main-item">
          <a href="{{ siteUrl('undergraduate') }}">本科教学</a>
        </li>
        <li class="nav-main-item">
          <a href="{{ siteUrl('graduate') }}">研究生教育</a>
        </li>
        <li class="nav-main-item">
          <a href="{{ siteUrl('research') }}">科研信息</a>
        </li>
        <li class="parent nav-main-item">
          <a href="javascript:void();">教师风采</a>
          <ul>
            <li class="page_item"><a href="{{ siteUrl('researcher') }}">科研人员</a></li>
            <li class="page_item"><a href="{{ siteUrl('administrator') }}">管理人员</a></li>
          </ul>
        </li>
        <li class="nav-main-item">
          <a href="{{ siteUrl('labs') }}">重点实验室</a>
        </li>
        <li class="nav-main-item">
          <a href="{{ siteUrl('contact') }}">联系我们</a>
        </li>
      </ul>

    </nav><!-- #site-navigation -->
  </header><!-- #masthead -->

  <div id="content" class="site-content">
  {% block content %}
  <div class="banner">
  <div class="slide">
    <div id="slider">
      <a href="#"><img src="{{ siteUrl('static/uploads/slider/120145644.gif') }}" alt="陈国良院士获得CCF颁发2013CCF杰出教育奖" /></a>
      <a href="#"><img src="{{ siteUrl('static/uploads/slider/120145644.gif') }}" alt="陈国良院士获得CCF颁发2013CCF杰出教育奖" /></a>
      <a href="#"><img src="{{ siteUrl('static/uploads/slider/120145644.gif') }}" alt="陈国良院士获得CCF颁发2013CCF杰出教育奖" /></a>
    </div>
  </div>
  <div class="news">
   <div class="title">新闻动态</div>
   <div class="articles">
    <ul>
      <li><a href="{{ siteUrl('article/' + mid ) }}">第二届华南计算机学科发展研讨会在深圳大学</a> <span class="datetime">2013-02-05</span></li>
      <li><a href="{{ siteUrl('article/' + mid ) }}">第二届华南计算机学科发展研讨会在深圳大学</a> <span class="datetime">2013-02-05</span></li>
      <li><a href="{{ siteUrl('article/' + mid ) }}">第二届华南计算机学科发展研讨会在深圳大学</a> <span class="datetime">2013-02-05</span></li>
      <li><a href="{{ siteUrl('article/' + mid ) }}">第二届华南计算机学科发展研讨会在深圳大学</a> <span class="datetime">2013-02-05</span></li>
    </ul>
   </div>
  </div>
  </div>

  <div class="index-articles">
    
    <div class="first-child">
      <h4>本科教学</h4>
      <div>
        <ul>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2014届毕业生毕业资格结果公布</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2014届毕业生毕业资格结果公布</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2014届毕业生毕业资格结果公布</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2014届毕业生毕业资格结果公布</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2014届毕业生毕业资格结果公布</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2014届毕业生毕业资格结果公布</a> <span class="datetime">2012-02-05</span></li>
        </ul>
      </div>
      <a href="{{ siteUrl('undergraduate') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a>
    </div>

    <div>
      <h4>研究生教育</h4>
      <div>
        <ul>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2013—2014学年第2学期研究生上课...</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2013—2014学年第2学期研究生上课...</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2013—2014学年第2学期研究生上课...</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2013—2014学年第2学期研究生上课...</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2013—2014学年第2学期研究生上课...</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">2013—2014学年第2学期研究生上课...</a> <span class="datetime">2012-02-05</span></li>
        </ul>
      </div>
      <a href="advantages/physicians-and-surgeons/index.html"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a>
    </div>
    <div class="last-child">
      <h4>科研信息</h4>
      <div>
        <ul>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">申报2014年国家自然科学基金</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">申报2014年国家自然科学基金</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">申报2014年国家自然科学基金</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">申报2014年国家自然科学基金</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">申报2014年国家自然科学基金</a> <span class="datetime">2012-02-05</span></li>
          <li> &gt; <a href="{{ siteUrl('article/' + mid) }}">申报2014年国家自然科学基金</a> <span class="datetime">2012-02-05</span></li>
        </ul>
      </div>
      <a href="advantages/nurses-and-technologists/index.html"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a>
    </div>
  </div>
  
  <div class="index-info">
    
    <div class="index-teacher">
      <h4>教师风采</h4>
        <div style="margin-top: 10px;">
          <div class="avatar">
            <img src="{{ siteUrl('static/uploads/teacher/P020090711553530979364.jpg') }}" />
          </div>
          <div class="intro">
            韩志超 教授 
            Charles C. Han  Ph.D.  Professor
            教育背景：
            1966，台湾大学，化工，学士
            1969，休斯顿大学，物理化学，硕士
            1974，威斯康星大学，物理化学，博士
            工作经历：
            1974–2002，美国国家标准与技术局，研究科学家；
            1983，东京大学，访问教授....
          </div>
        </div>
        <div style="clear: both;"></div>
        <a class="link-more" href="{{ siteUrl('teacher') }}">更多</a>
    </div>
    
    <div class="index-student-work">
      <h4>学生工作</h4>
      <div>
        <ul>
          <li> &gt; <a>关于2013-2014学年第二学期学生报到、注册的通知</a> <span class="student-datetime datetime">2014-02-17</span></li>
          <li> &gt; <a>关于2013-2014学年第二学期学生报到、注册的通知</a> <span class="student-datetime datetime">2014-02-17</span></li>
          <li> &gt; <a>关于2013-2014学年第二学期学生报到、注册的通知</a> <span class="student-datetime datetime">2014-02-17</span></li>
          <li> &gt; <a>关于2013-2014学年第二学期学生报到、注册的通知</a> <span class="student-datetime datetime">2014-02-17</span></li>
          <li> &gt; <a>关于2013-2014学年第二学期学生报到、注册的通知</a> <span class="student-datetime datetime">2014-02-17</span></li>
        </ul>
      </div>
        <a class="link-more" href="{{ siteUrl('student') }}">更多</a>
    </div>
    
  </div>
  
  {% endblock %}
  </div> <!-- #content -->
</div> <!-- .site -->

<div class="container-site-footer">
  <footer class="site-footer">

    <div class="nav-footer">  
      <ul>
        <li><a href="{{ siteUrl('about') }}">关于我们</a></li>
        <li><a href="{{ siteUrl('contact') }}">联系我们</a></li>
        <li><a href="{{ siteUrl('contact') }}">学院介绍</a></li>
        <li><a href="{{ siteUrl('contact') }}">组织机构</a></li>
      </ul>
    </div>

    <div class="link">
      友情链接：<br />
      <a href="http://www.szu.edu.cn/">深圳大学</a>
      <a href="http://job.szu.edu.cn/">深圳大学就业指导中心</a>
      <a href="http://csse.szu.edu.cn/">深圳大学计算机与软件学院</a>
    </div>
    
    <div class="copyright">
      版权所有 &copy; 深圳大学高等研究院<br />
      地址：深圳市南山区南海大道 3688 号办公楼 313 深圳大学高等研究院院长办公室<br />
      联系电话：0755-26001352 <span style="margin-left: 30px">邮编：518060</span>
    </div>
    
  </footer> <!-- .site-footer -->
</div> <!-- .container-site-footer -->

</div> <!-- .body-overlay -->

<script type="text/javascript">
$("#slider").KinSlideshow({
    titleBar: {
      titleBar_height: 28,
      titleBar_bgColor: "#000",
      titleBar_alpha: 0.5
    },
    titleFont: {
      TitleFont_size: 14,
      TitleFont_color: "#FFFFFF",
      TitleFont_weight: "normal"
    },
    btn: {
      btn_bgColor: "#FFFFFF",
      btn_bgHoverColor: "#1072aa",
      btn_fontColor: "#000000",
      btn_fontHoverColor: "#FFFFFF",
      btn_borderColor: "#cccccc",
      btn_borderHoverColor: "#1188c0",
      btn_borderWidth: 1
    }
});

</script>
<!--[if lte IE 9]> </div> <![endif]-->
<!--[if IE 9]> </div> <![endif]-->
<!--[if lte IE 8]> </div> <![endif]-->
<!--[if IE 8]> </div> <![endif]-->
<!--[if lte IE 7]> </div> <![endif]-->
<!--[if IE 7]> </div> <![endif]-->
</body>
</html>