{% extends 'base.html' %}

  {% block content %}
  <div class="banner">
  <div class="slide">
    <div id="slider">
      {% for s in slider %}
      <a href="{{ siteUrl('article/' ~  s.article.id )}}"><img src="{{ siteUrl('uploads/' ~ s.address) }}" alt="{{ s.article.title }}" title="{{ s.article.title }}"/></a>
      {% endfor %}
    </div>
  </div>
  <div class="news">
    <div class="title">
      <a href="{{ siteUrl('menu/6/list') }}">{{ trans('News') }}</a>
    </div>
   <div class="articles">
    <ul>
      {% for n in news %}
      <li><span class="ellipsis width350"><a href="{{ siteUrl('article/' ~ n.id) }}">{{ n.title }}</a></span> <span class="datetime">{{ n.created | date('Y-m-d') }}</span></li>
      {% endfor %}
    </ul>
   </div>
  </div>
  </div>

  <div class="index-articles">
    
    <div class="first-child">
      <h4><a href="{{ siteUrl('menu/10/list') }}">{{ trans('EDU for Undergraduate') }}</a></h4>
      <div>
        <ul>
          {% for a in undergraduate %}
          <li><span class="ellipsis width200"> ● <a href="{{ siteUrl('article/' ~ a.id) }}">{{ a.title }}</a></span> <span class="datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <!-- <a href="{{ siteUrl('menu/10/list') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a> -->
    </div>

    <div>
      <h4><a href="{{ siteUrl('menu/11/list') }}">{{ trans('EDU for Graduate') }}</a></h4>
      <div>
        <ul>
          {% for a in graduate %}
          <li><span class="ellipsis width200"> ● <a href="{{ siteUrl('article/' ~ a.id) }}">{{ a.title }}</a></span> <span class="datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <!-- <a href="{{ siteUrl('menu/11/list') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a> -->
    </div>
    <div class="last-child">
      <h4><a href="{{ siteUrl('menu/12/list') }}">{{ trans('Scientific Research') }}</a></h4>
      <div>
        <ul>
          {% for a in research %}
          <li><span class="ellipsis width200"> ● <a href="{{ siteUrl('article/' ~ a.id ) }}">{{ a.title }}</a></span> <span class="datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <!-- <a href="{{ siteUrl('menu/11/list') }}"><img class="over" src="{{ siteUrl('static/images/base-layout/link-more.png') }}" /></a> -->
    </div>
  </div>
  
  <div class="index-info">

    <div class="index-teacher">
      <h4><a href="{{ siteUrl('menu/13/list') }}">{{ trans('Teachers') }}</a></h4>
      <div style="margin-top: 10px;">
        {% if teacher_img %}
        <div class="avatar">
          {% if teacher_img starts with 'http' %}
          {% set img_url = teacher_img %}
          {% else %}
          {% set img_url = siteUrl(teacher_img)  %}
          {% endif %}
          <img src="{{ img_url }}" />
        </div>
        <div class="intro">
          {{ teacher_intro | ellipsis(400) | raw }}
        </div>
        {% else %}
          {{ teacher_intro | ellipsis(400) | raw }}
        {% endif %}
      </div>
      <div style="clear: both;"></div>
    </div>

    <div class="index-student-work">
    <h4><a href="{{ siteUrl('menu/17/list') }}">{{ trans('Hiring') }}</a></h4>
      <div>
        <ul>
          {% for a in working %}
          <li><span class="ellipsis width350"> ● <a href="{{ siteUrl('article/' ~ a.id) }}">{{ a.title }}</a></span> <span class="student-datetime datetime">{{ a.created | date('Y-m-d') }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </div>
  
  {% endblock %}