@charset "utf-8";
html{overflow-y: scroll;}
body{
	font-family: verdana, "宋体", simsun, Arial;
	font: 12px;
	/*background: #EDEDED url(../../image/bg.png) center top repeat-y;*/
	background: #aDaDaD url(../../image/bgWhite.png) center top repeat-y;
	word-wrap:break-word;
	word-break:break-all;
}
body,ul,li{
	margin:0;
	padding:0;
}
/*页面宽度*/
#main{
	width: 980px;
	margin: 0 auto;
}
/*清除浮动*/
.clearfix{
	*zoom: 1;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
/*搜索框*/
.search_from{
	margin:0;
	padding: 0;
	border: 1px solid #D5D5D5;
}
.search_txt {
	line-height: 22px;
	font-size: 14px;
	margin:0;
	padding:0 0 0 5px;
	font-family: "微软雅黑","Microsoft Yahei",Tahoma;
	background-color: white;
	height: 24px;
	border: 0px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
	color: #666;
}
.search_btn {
	vertical-align:top;
	margin: 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
	border: 0px solid #D5D5D5;
	background-image: url(../../image/search.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#head_logo{
	float: left;
}
#head_pic{
	position:relative;
	float:right;
	width:310px;
	height:200px;
}
#head_pic ul{
	list-style: none;
	position: absolute;
	width:310px;
	height:200px;
}
#head_pic ul li {
	position: absolute;
	cursor:pointer;
	width:155px;
	height:100px;
	overflow:hidden;
	z-index: 1;
}
#head_pic ul li img{
	position: absolute;
}
.left-top{
	top:0;
	left:0;
}
.right-top{
	right:0;
	top:0
}
.left-bottom{
	left:0;
	bottom:0;
}
.right-bottom{
	right:0;
	bottom:0;
}
.left-top img{
	top:0;
	left:0;
}
.right-top img{
	right:0;
	top:0
}
.left-bottom img{
	left:0;
	bottom:0;
}
.right-bottom img{
	right:0;
	bottom:0;
}
/*导航*/
#nav{
	margin-top:5px;
	padding-left:10px;
	font-family:"微软雅黑","Microsoft Yahei",Tahoma;
	border-bottom: 3px solid #009AD9;
}
#nav ul{
	list-style: none;
}
.first-nav{
	float:left; 
	border-right:1px solid #fff; 
}
.first-nav a{
	color:#333; 
	text-decoration:none; 
	display:block; 
	line-height:32px;
	padding:0 10px;
	font-size:16px;
}
#nav .on a{
	color:#fff; 
	text-decoration:none; 
	background:#009AD9;
}
.first-nav a:hover{
	color:#fff; 
	text-decoration:none; 
	background:#009AD9;
}
.first-nav ul{
	display:none; 
	position:absolute;
	border-top: 3px solid #F06600;
	z-index:9999;
}
.first-nav li{
	border-top:1px solid #fff; 
	background:#009AD9; 
	width:140px;
}
.first-nav .second-nav a{
	color:#fff;
	line-height:28px;
	font-size: 14px;
}
#nav .first-nav .second-nav a:hover{
	background:#66ccff;
	color:#333;
}
/*主体*/
#content{
	padding:0 10px;
	margin-top:10px;
}
/*尾部*/
#footer{
	margin:10px 0 10px 0;
	border-top: 3px solid #009AD9;
	text-align: center;
	font-size: 12px;
	color: #333;
	font-family: "微软雅黑","Microsoft Yahei",Tahoma;
}
#copyright{
	padding: 10px;
	font-size:14px;
}
#copyright a{
	color:black;
	text-decoration:none;
}
#copyright a:hover{
    color:red;
}
#contactinfo{
	margin:0;
	height:0;
}
/*弹出层插件*/
.pop-div-in{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -70px;
	background: white url(../../image/loading.gif) no-repeat scroll 10px center;
	border-radius: 3px;
	border: solid 3px #369;
	padding: 10px 10px 10px 50px;
	-moz-box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
	box-shadow: 5px 5px 5px #666;
}