@CHARSET "UTF-8";
#signin{
	width:450px;
	font-size:14px;
	margin:200px auto;
	border:1px solid #009AD9;
	background:#F1F1F1;
}
#signin table {
	margin: 10px 0 0 100px;
}
#cp_title {
	 height:30px;
	 line-height:30px;
	 font-size:20px;
	 color:#ffffff;
	 text-align:center;
	 background:#009AD9;
}
#cp_pic{
	height:30px;
}
#code_img,#other_code{
	cursor: pointer;
}
#cp_save{
	margin-left:200px;
	margin-top:15px;
	margin-bottom: 20px;
}
#cp_content input{
	width:155px;
}
.error-tip{
	background-color: #EFEABA;
	color: #EAA643;
	border: 1px solid #DAAA8A;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	margin: 10px 0;
	text-align: center;
}