<?php

/**
 * 数据库配置
 * @author
 *
 */

return array(
    'dbname' => 'szuias',
    'user' => 'root',
    'password' => '',
    'host' => 'localhost',
    'driver' => 'pdo_mysql'
    'charset' => 'utf8',
    'driverOptions' => array(
        1002=>'SET NAMES utf8'
    ),

//    'driver' => 'pdo_sqlite',
//    'path' => mb_convert_encoding(DOCROOT . 'runtime/database.sqlite', 'UTF-8', 'GBK'),

);
