{% extends 'admin/base.html' %}

{% block static %}
<script type="text/javascript" src="{{ siteUrl('static/scripts/admin/menu_view.js') }}"></script>
<link type="text/css" href="{{ siteUrl('static/styles/admin/page/menu.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="content" class="clearfix">
    <div id="headtips">
        <table>
            <tr>
                <td class="td1">排序</td>
                <td class="td2">菜单标题</td>
                <td class="td3">菜单类型</td>
                <td class="td4">外部URL地址</td>
                <td class="td5">打开方式</td>
                <td class="td9" style="text-align:left;">显示</td>
                <td class="td10" style="text-align:left;">访问权限</td>
                <td class="td6"></td>
            </tr>
        </table>
    </div>
    <form id="menu" action="{{ siteUrl('admin/menu/create') }}" method="post">
        <div id="category">
            {% for menu in menus %}
            <div class="one_menu">
                <table>
                    <thead>
                        <tr data-id="{{ menu.id }}" data-type="{{ menu.type }}" >
                            <td class="td1">
                                <input type="text" name="sort" class="order" value="{{ menu.sort }}" />
                            </td>
                            <td class="td2">
                                <input type="text" name="title" class="links" value="{{ menu.title }}"/>
                            </td>
                            <td class="td3">
                                <select name="type" class="select-type first-menu-select" title="无法直接修改菜单类型">
                                    <option value="0">节点菜单</option>
                                    <option value="3"{% if menu.type == 3 %} selected="selected"{% endif %}>外部URL</option>
                                </select>
                            </td>
                            <td class="td4">
                                <input type="text" name="outside_url" class="outlinks" value="{{ menu.outside_url }}" style="{% if menu.type != 3 %}diplay: none;{% endif %}"/>
                            </td>
                            <td class="td5">
                                <select name="open_style">
                                    <option value="0">原窗口打开</option>
                                    <option value="1"{% if menu.open_style == 1 %} selected="selected"{% endif %}>新窗口打开</option>
                                </select>
                            </td>
                            <td class="td9">
                                <select name="is_hide">
                                    <option value="0">是</option>
                                    <option value="1"{% if menu.isHide() %} selected="selected">{% endif %}>否</option>
                                </select>
                            </td>
                            <td class="td10">
                                <select name="intranet"> 
                                    <option value="0">公网</option>
                                    <option value="1"{% if menu.isIntranet() %} selected="selected"{% endif %}>仅内网</option>
                                </select>
                            </td>
                            <td class="td6">
                                {% set menu_delete_url = siteUrl('admin/menu/') ~ menu.id ~ '/delete' %}
                                <a class="deletefirst" href="{{ menu_delete_url }}" data-count="{{ menu.article.count }}">删除</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in menu.sub_menus %}
                        <tr class="two_menu" data-id="{{ sub.id }}">
                        <td class="td1"><input type="text" name="sort" class="order" value="{{ sub.sort }}" /></td>
                        <td class="td7"><input type="text" name="title" class="links" value="{{ sub.title }}"/></td>
                        <td class="td3">
                            <select name="type" class="select-type second-menu-select" title="无法直接修改菜单类型">
                                <option value="1"{% if sub.type == 1 %} selected="selected"{% endif %}>单页内容</option>
                                <option value="2"{% if sub.type == 2 %} selected="selected"{% endif %}>多记录列表</option>
                                <option value="3"{% if sub.type == 3 %} selected="selected"{% endif %}>外部URL</option>
                            </select>
                        </td>
                        <td class="td4">
                            <input type="text" name="outside_url" class="outlinks" value="{{ sub.outside_url }}" style="{% if sub.type != 3 %}display:none;{% endif %}"/>
                        </td>
                        <td class="td5">
                            <select name="open_style">
                                <option value="0">原窗口打开</option>
                                <option value="1"{% if sub.open_style == 1 %} selected="selected"{% endif %}>新窗口打开</option>
                            </select>
                        </td>
                        <td class="td9">
                            <select name="is_hide"> 
                                <option value="0">是</option>
                                <option value="1"{% if sub.isHide() %} selected="selected"{% endif %}>否</option>
                            </select>
                        </td>
                        <td class="td10">
                            <select name="intranet"> 
                                <option value="0">公网</option>
                                <option value="1"{% if sub.isIntranet() %} selected="selected"{% endif %}>仅内网</option>
                            </select>
                        </td>
                        <td class="td6">
                            {% set sub_menu_delete_url = siteUrl('admin/menu/') ~ menu.id ~ '/delete' %}
                            <a class="deletesecond" href="{{ sub_menu_delete_url }}" data-count="{{ sub.article.count }}">删除</a>
                        </td>
                        {% endfor %}
                        </tr>
                        <tr>
                        <td colspan="6" class="td8 new_two">
                        <a href="javascript:void(0);" class="add-second-menu">新增二级菜单</a>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>

        <div id="new_one">
            <a href="javascript:void(0);">新增一级菜单</a>
        </div>

        <div class="text_end">
            <span>
                <a data-href="{{ siteUrl('admin/menu/create') }}" href="{{ siteUrl('admin/menu/create') }}" id="submit">保存</a>
                <a href="javascript:" id="cancel">取消</a>
            </span>
        </div>

    </form>
</div>
{% endblock %}