{% extends 'admin/menu.html' %}

{% block menu_list %}
  <div id="content_right" class="clearfix">
    <div id="content_right_top">
      {% if mid %}
      {% set submit_url = siteUrl('admin/menu/' ~ menu.id ~ '/create') %}
      <span id="location">当前位置：<a href="{{ siteUrl('admin/menu/') }}">菜单管理</a>&nbsp;&gt;&nbsp;{{ menu.defaultTitle }}&nbsp;&gt;&nbsp;新增子菜单</span>
      {% else %}
      {% set submit_url = siteUrl('admin/menu/create') %}
      <span id="location">当前位置：菜单管理&nbsp;&gt;&nbsp;新增一级菜单</span>
      {% endif %}
    </div>

    <div id="show_list" class="clearfix">
      <form action="{{ submit_url }}" method="post" id="submit-form">
        <table id="create_table">
          <tr class="odd">
            <td>排序</td>
            <td><input type="text" name="sort" class="order" /></td>
          </tr>
          <tr class="even">
            <td>标题</td>
            <td><input type="text" name="title" value=""/></td>
          </tr>
          <tr class="odd">
            <td>英文标题</td>
            <td><input type="text" name="title_eng" value=""/></td>
          </tr>
          <tr class="even">
            <td>类型</td>
            <td>
              <select name="type" class="select-type first-menu-select">
                <option value="0">节点菜单</option>
                <option value="1">单页内容</option>
                <option value="2">多记录列表</option>
                <option value="3">外部URL</option>
              </select>
            </td>
          </tr>
          <tr class="odd">
            <td>外部 URL</td>
            <td><input disabled="true" type="text" id="outside_url" name="outside_url" class="outlinks" value="" /></td>
          </tr>
          <tr class="even">
            <td>打开方式</td>
            <td>
              <select name="open_style">
                <option value="0">原窗口打开</option>
                <option value="1">新窗口打开</option>
              </select>
            </td>
          </tr>
          <tr class="odd">
            <td>显示</td>
            <td>
              <select name="is_show">
                <option value="1">是</option>
                <option value="0">否</option>
              </select>
            </td>
          </tr>
        </table>

        <div class="text_end">
            <span>
                <a data-href="{{ submit_url }}" href="{{ submit_url }}" id="submit">保存</a>
                <a href="javascript:history.back();" id="cancel">取消</a>
            </span>
        </div>
      </form>
    </div>
  </div>
{% endblock %}