{% extends 'admin/base.html' %}

{% block static %}
<link type="text/css" href="{{ siteUrl('static/styles/admin/page/personal_pwd_view.css') }}" rel="stylesheet" />
<script type="text/javascript" src="{{ siteUrl('static/scripts/plugins/jquery.KinSlideshow-1.2.1.min.js') }}" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="content" class="clearfix">
  <div id="content_left">
    <div id="headtitle">个人中心</div>
    <div id="left_nav">
      <ul >
        <li class="left-first-nav">
          <a href="{{ siteUrl('admin/profile') }}" class="list_title">个人信息</a>
        </li>
        <li class="left-first-nav">
          <a href="{{ siteUrl('admin/profile/edit') }}" class="list_title">修改信息</a>
        </li>
        <li class="left-first-nav">
          <a href="{{ siteUrl('admin/profile/password') }}" class="list_title on">修改密码</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="content_right">
    <div id="content_right_top">
      <span id="location">当前位置：个人中心&nbsp;&gt;&gt;&nbsp;修改密码</span>
    </div>
    <div id="changepassword">
      <form action="{{ siteUrl('admin/profile/password') }}" method="post">
      <div id="cp_title">修改密码</div>
        {% if msg %}
        <div class="msg-tip">{{ msg }}</div>
        {% endif %}
        <table>
          <tr>
            <td id="cp_tips">旧&nbsp;密&nbsp;码:</td>
            <td id="cp_content"><input type="password" name="oldpassword" /></td>
          </tr>
          <tr>
            <td id="cp_tips">新&nbsp;密&nbsp;码:</td>
            <td id="cp_content"><input type="password" name="newpassword" /></td>
          </tr>
          <tr>
            <td id="cp_tips">确认密码:</td>
            <td id="cp_content"><input type="password" name="confirmpassword" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="cp_save">
                <input id="save1" type="submit" value="保存"/>
                <input id="save2" type="reset" value="重置"/>
                <input type="hidden" name="submitted" value="TRUE" />
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>

</div>
<script type="text/javascript">
$(function(){
  $('li.left-first-nav a').click(function(){
    $(this).parent().find('ul').toggle("fast");
  });
});
</script>
{% endblock %}
